/**
** Author: Chris Rees
** Copyright: Chris Rees
**/

/** Default_Setup **/
/** Zero positions for layout **/
html, body {
    margin: 0;
    padding: 0;
}

/*Remove shitty outlines*/
*:focus
{
    outline: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body a:link, body a:visited, body a:active {
    color: #7A7A7A;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#333;
    margin:1em 0;
}

.right{
    float: right;
}

.redcount{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.grey {
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

/** Clearfix **/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/** Div Id's **/
.ContentWrapper{
    width:1200px;
    margin: 0 auto;
    padding: 100px;
}

.Content{
    margin-top:10px;
    width:1200px;
    float: left;
    height:600px;
    background: #FFF;}

.Item{
    border-bottom: 1px solid #999;
    margin: 10px 0;
    width: 1100px;
    border-bottom:1px solid #ddd;
    margin:10px 0;
    padding:15px;
    padding-right: 15px;
    font-size:12px;
    height:200px;
}

.Item a{
    display: block;
    height: 50px;
    width: 1150px;
    margin-left: 50px;
    position: absolute;
}

.Item img{
    float:left;
    margin-right:20px;
    margin-bottom:50px;
}

.Item h3 {
    margin: 10px 10px 0 100px;
    font-size:16px;
    color:#456;
    font-weight:normal;
}

.Item p{
    padding-top: 50px;
}